@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.modal {
  border-color: #d7d7d7;
  border-width: 0.5px;
  box-shadow: 2px 4px 6px #eaeaea;
}

@layer base {
  html {
    font-family:
      SUIT Variable,
      system-ui,
      sans-serif;
  }
}

.hr {
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(0, 113, 143)' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-2,10,-2 s 5,2,10,2 c 5,0,5,-2,10,-2 s 5,2,10,2'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-repeat: repeat-x;
  padding-bottom: 4px;
  background-size: auto 4px;
}
